<!DOCTYPE html>
<head>
   <title>Current Status</title>
</head>

<body>
   <h1></h1>

   {% for pin in pins %}
   <p>The {{ pins[pin].name }}
   {% if pins[pin].state == true %}
      is currently  (<a href="/{{pin}}/off">turn off</a>)
   {% else %}
      is currently  (<a href="/{{pin}}/on">turn on</a>)
   {% endif %}
   </p>
   {% endfor %}

   {% if message %}
   <h2>{{ message }}</h2>
   {% endif %}

</body>
</html>