<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
   <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
   <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
    <title>Profile Summary</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">  
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">    
    <script type="text/javascript">  
	var alldata; 
	var splitdata;
	
	function check_filter()
	{
		 var table = document.getElementById("dataall");
		 var tableHeaderRowCount = 0;
		 var rowCount = table.rows.length;
         for (var i = tableHeaderRowCount; i < rowCount; i++) {
              table.deleteRow(tableHeaderRowCount);
         }
         var row1 = table.insertRow(0);
         var cell3 = row1.insertCell(0);
         var cell4 = row1.insertCell(1);
         
        cell3.innerHTML = "Date Time";
        cell4.innerHTML = "Value";
		$.getJSON('/_filterall', function(data)
            {
				var data2=data.allfilter.split("/");
				var i=1;
				data4= data2[1].split(",");
				for(i=1;i<data2[0];i++)
				{
					var row = table.insertRow(i);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    data3= data4[i].split("=");
                    cell1.innerHTML = data3[0];
                    cell2.innerHTML = data3[1];
				}
				
			});
	}
	
    function btn_filter() 
    {
		 var filter_id = document.getElementById("filter_id").value;
		 var filter_val="";
		 new_data = document.getElementById("start_filter").value + "," + document.getElementById("end_filter").value;
		 if (filter_id=="temp")
		 {
			filter_val="/temp_filter" 
		 }
		 if (filter_id=="vibe")
		 {
			filter_val="/vibe_filter" 
		 }
		 if (filter_id=="humid")
		 {
			filter_val="/humid_filter" 
		 }
		 if (filter_id=="soil")
		 {
			filter_val="/soil_filter" 
		 }
		 $.ajax({ 
              url: filter_val, 
              type: 'POST', 
              data: new_data,
              success: function(response){						        
                     check_filter(); 
              } 
             
              })
         /*
		*/
		
		
		
	
           
    }
    
     
	</script>
  </head>
  <body>  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->	
 
  <h2>Data</h2> 
  <label>Select Data Type</label>
  <select id= "filter_id">
  <option value="temp">Temperature</option>
  <option value="humid">Humidity</option>
  <option value="vibe">Vibration</option>
  <option value="soil">Soil Moisture</option>
  </select> 

    <label>Start Date Time</label>
    <input id="start_filter" type="datetime-local" name="start_filter" value="2017-06-01T08:30">
    <label>End Date Time</label>
    <input id="end_filter" type="datetime-local" name="end_filter" value="2017-06-01T08:30">
  

<button type="button" class ="btn btn-primary btn-md" onclick="btn_filter();">Filter</button>     
  <table id = "dataall" class="table">
	<col width="30%">
    <col width="70%">
    <tbody>	            
    </tbody>
  </table>
    
  </body>
</html>

