<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Flot Examples: Real-time updates</title>
	<link href="{{ url_for('static', filename='flot/examples.css') }}" rel="stylesheet" type="text/css">
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ url_for('static', filename='flot/excanvas.min.js') }}"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='flot/jquery.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>
	<script type="text/javascript">
    var curr_heart=0;
	$(function() {

		/* We use an inline data source in the example, usually data would*/
		/* be fetched from a server*/

		var data = [],
			totalPoints = 300;

		function getRandomData() {

			if (data.length > 0)
				data = data.slice(1);

			/* Do a random walk*/
		
			 

			while (data.length < totalPoints) {

				var prev = data.length > 0 ? data[data.length - 1] : 50,
					y = prev + Math.random() * 10 - 5;

				if (curr_heart < 0) {
					curr_heart = 0;
				} else if (curr_heart > 100) {
					y = 100;
				}

				data.push(curr_heart);
			}

			/* Zip the generated y values with the x values*/

			var res = [];
			for (var i = 0; i < data.length; ++i) {
				res.push([i, data[i]])
			}

			return res;
		}

		/* Set up the control widget*/
/*
		var updateInterval = 30;
		$("#updateInterval").val(updateInterval).change(function () {
			var v = $(this).val();
			if (v && !isNaN(+v)) {
				updateInterval = +v;
				if (updateInterval < 1) {
					updateInterval = 1;
				} else if (updateInterval > 2000) {
					updateInterval = 2000;
				}
				$(this).val("" + updateInterval);
			}
		});
*/
	var plot = $.plot("#placeholder", [ getRandomData() ], {
			series: {
				shadowSize: 0	/* Drawing is faster without shadows*/
			},
			yaxis: {
				min: 0,
				max: 100
			},
			xaxis: {
				show: false
			}
		}
		
		);
		
	
		function update() {
			
				

			plot.setData([ getRandomData() ]);
		
         	/*Since the axes don't change, we don't need to call plot.setupGrid()*/

			plot.draw();
			
			
		
		
			setTimeout(update, 2000);
		}

  
		update();
		
		  
		
		

		
	});
 $(
 function button() 
    {
	$.getJSON('/_humidity', function(data)
            {
                curr_heart=data.humiditystate;
                /*$("#buttonState").text(data.heartstate); */
                setTimeout(function(){button();},2000);         

            });
           
     } );   
	</script>
</head>
<body>
	<div id="header">
		<h3>Humidity (%RH)</h3>
	</div>  
	<div id="content">
		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>	
	
	</div>

	

</body>
</html>
