
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>GUARDIAN ANGEL</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   </head>
  <body>
  <div style="max-width:100% max-height:25%;">
  <img src="{{ url_for('static', filename='img/Landslide_monitor_system.jpg') }}" alt="Mountain View" style="width:100%;height:125px;">
  </div>
    <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">LANDSLIDE MONITOR</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{url_for('summary') }}"  target="downs">SUMMARY</a></li>
              <li><a href="{{url_for('temps') }}"  target="downs">Temperature</a></li>
              <li><a href="{{url_for('humidity') }}" target="downs" >Humidity</a></li>
              <li><a href="{{url_for('vibe') }}" target="downs">Vibration</a></li>
			   <li><a href="{{url_for('soil') }}" target="downs">Soil</a></li>
                           <li><a href="{{url_for('dataall') }}" target="downs">Data</a></li>
                           <li><a href="{{url_for('setting') }}" target="downs">Setting</a></li>
                           		  		  
			   <li class="dropdown">
              
              </li>
			 </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    </body>
</html>
