<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
   <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
   <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
    <title>Profile Summary</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">  
    <script type="text/javascript">  
	var alldata; 
	var splitdata;
	
	function btn_send_email() 
    {
		 new_data = document.getElementById("send_email").value;
		 $.ajax({ 
              url: '/send_email', 
              type: 'POST', 
              data: new_data,
              success: function(response){ 
				      alert('Setting Saved');
                      // $('#main').text(response) 
              } 
})
		
	
           
    }
	
    function btn_temp_min() 
    {
		 new_data = document.getElementById("temp_limit_min").value;
		 $.ajax({ 
              url: '/temp_limit_min', 
              type: 'POST', 
              data: new_data,
              success: function(response){ 
                       alert('Setting Saved');
                      // $('#main').text(response) 
              } 
})
		
	
           
    }
    
     function btn_temp_max() 
    {
		 new_data = document.getElementById("temp_limit_max").value;
		 $.ajax({ 
              url: '/temp_limit_max', 
              type: 'POST', 
              data: new_data,
              success: function(response){ 
				   alert('Setting Saved');
                      // $('#main').text(response) 
              } 
})
		
	
           
    } 
    
     function btn_vibe_min() 
    {
		 new_data = document.getElementById("vibe_limit_min").value;
		 $.ajax({ 
              url: '/vibe_limit_min', 
              type: 'POST', 
              data: new_data,
              success: function(response){
				   alert('Setting Saved'); 
                      // $('#main').text(response) 
              } 
})
		
	
           
    }
    
     function btn_vibe_max() 
    {
		 new_data = document.getElementById("vibe_limit_max").value;
		 $.ajax({ 
              url: '/vibe_limit_max', 
              type: 'POST', 
              data: new_data,
              success: function(response){
				   alert('Setting Saved'); 
                      // $('#main').text(response) 
              } 
})
		
	
           
    }
    
     function btn_soil_min() 
    {
		 new_data = document.getElementById("soil_limit_min").value;
		 $.ajax({ 
              url: '/soil_limit_min', 
              type: 'POST', 
              data: new_data,
              success: function(response){
				   alert('Setting Saved'); 
                      // $('#main').text(response) 
              } 
})
		
	
           
    }
    
     function btn_soil_max() 
    {
		 new_data = document.getElementById("soil_limit_max").value;
		 $.ajax({ 
              url: '/soil_limit_max', 
              type: 'POST', 
              data: new_data,
              success: function(response){
				   alert('Setting Saved'); 
                      // $('#main').text(response) 
              } 
})
		
	
           
    }  
    
     function btn_humid_min() 
    {
		 new_data = document.getElementById("humid_limit_min").value;
		 $.ajax({ 
              url: '/humid_limit_min', 
              type: 'POST', 
              data: new_data,
              success: function(response){
				   alert('Setting Saved'); 
                      // $('#main').text(response) 
              } 
})
		
	
           
    }
    
     function btn_humid_max() 
    {
		 new_data = document.getElementById("humid_limit_max").value;
		 $.ajax({ 
              url: '/humid_limit_max', 
              type: 'POST', 
              data: new_data,
              success: function(response){
				   alert('Setting Saved'); 
                      // $('#main').text(response) 
              } 
})
		
	
           
    }
    
    function getsetting()
    {
    $.getJSON('/_allsetting', function(data)
            {
				splitdata= data.allsetting.split(",");
				document.getElementById("send_email").value=splitdata[0];
				document.getElementById("temp_limit_min").value=splitdata[1];
				document.getElementById("temp_limit_max").value=splitdata[2];
				document.getElementById("humid_limit_min").value=splitdata[3];
				document.getElementById("humid_limit_max").value=splitdata[4];
				document.getElementById("vibe_limit_min").value=splitdata[5];
				document.getElementById("vibe_limit_max").value=splitdata[6];
				document.getElementById("soil_limit_min").value=splitdata[7];
				document.getElementById("soil_limit_max").value=splitdata[8];
					
				
			});
			}
	</script>
  </head>
  <body onload="getsetting();">  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->	
  <div class="Container">
  <h2>Setting</h2>
  <table class="table">
	<col width="20%">
    <col width="20%">
    <col width="10%">
    <tbody>
    <tr>
        <td>Send Email</td>  
        <td><input class="form-control" id="send_email" type="text"> </td>
        <td><button type="button" class ="btn btn-primary btn-md" onclick="btn_send_email();">Update</button></td>    
    </tr> 
	<tr>
        <td>Temperature Limit Minimum</td>  
        <td><input class="form-control" id="temp_limit_min" type="text"> </td>
        <td><button type="button" class ="btn btn-primary btn-md" onclick="btn_temp_min();">Update</button></td>       
          
      </tr> 
      <tr>
        <td>Temperature Limit Maximum</td>  
        <td><input class="form-control" id="temp_limit_max" type="text"> </td>
        <td><button type="button" class ="btn btn-primary btn-md" onclick="btn_temp_max();">Update</button></td>      
      </tr> 
      <tr>
        <td>Humidity Limit Minimum</td>  
        <td><input class="form-control" id="humid_limit_min" type="text"> </td>
        <td><button type="button" class ="btn btn-primary btn-md" onclick="btn_humid_min();">Update</button></td>      
      </tr> 
      <tr>
        <td>Humidity Limit Maximum</td>  
        <td><input class="form-control" id="humid_limit_max" type="text"> </td>
        <td><button type="button" class ="btn btn-primary btn-md" onclick="btn_humid_max();">Update</button></td>      
      </tr>    
      <tr>
        <td>Vibration Limit Minimum</td>  
        <td><input class="form-control" id="vibe_limit_min" type="text"> </td>
        <td><button type="button" class ="btn btn-primary btn-md" onclick="btn_vibe_min();">Update</button></td>      
      </tr>
      <tr>
        <td>Vibration Limit Maximum</td>  
        <td><input class="form-control" id="vibe_limit_max" type="text"> </td>
        <td><button type="button" class ="btn btn-primary btn-md" onclick="btn_vibe_max();">Update</button></td>      
      </tr>
      <tr>
        <td>Soil Moisture Limit Minimum</td>  
        <td><input class="form-control" id="soil_limit_min" type="text"> </td>
        <td><button type="button" class ="btn btn-primary btn-md" onclick="btn_soil_min();">Update</button></td>      
      </tr>  
      <tr>
        <td>Soil Moisture Limit Maximum</td>  
        <td><input class="form-control" id="soil_limit_max" type="text"> </td>
        <td><button type="button" class ="btn btn-primary btn-md" onclick="btn_soil_max();">Update</button></td>      
      </tr>           
    </tbody>
  </table>
</div>    
  </body>
</html>

