<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
   <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
   <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
    <title>Profile Summary</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">  
    <script type="text/javascript">  
	var alldata; 
	var splitdata;
	$(
    function button() 
    {
	$.getJSON('/_all', function(data)
            {
                splitdata= data.allstate.split(","); 
                $("#temp").text(splitdata[0]);
                $("#humidity").text(splitdata[1]);
                $("#vibe").text(splitdata[2]);
                $("#soil").text(splitdata[3]);
                if (splitdata[4] == '1')
                {
                    document.getElementById("temp").style.color="red"					
				}
				else
				{
					document.getElementById("temp").style.color="black"					
				} 
				 if (splitdata[5] == '1')
                {
                    document.getElementById("vibe").style.color="red"					
				}
				else
				{
					document.getElementById("vibe").style.color="black"					
				}  
				
				 if (splitdata[6] == '1')
                {
                    document.getElementById("soil").style.color="red"					
				}
				else
				{
					document.getElementById("soil").style.color="black"					
				}      
				 if (splitdata[7] == '1')
                {
                    document.getElementById("humidity").style.color="red"					
				}
				else
				{
					document.getElementById("humidity").style.color="black"					
				}          
                setTimeout(function(){button();},200);         

            });
           
     } );   
	</script>
  </head>
  <body>  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->	
  <div class="Container">
  <h2>Summary</h2>
  <table class="table">
    <tbody>
	<tr>
        <td>Status</td>        
        <td><font color="green">Normal</font> </td>
      </tr>
      <tr>
      <tr>
        <td>Location</td>
        <td>UTM Skudai</td>
      </tr>
	   <tr>
        <td>Environment Temperature (Celcius)</td>
        <td><span id="temp">30</span></td>
      </tr>
	  <tr>
        <td>Environment Humidity (%RH)</td>
        <td><span id="humidity">100</span></td>
      </tr>	  
	  <tr>
        <td>Vibration</td>
        <td><span id="vibe">33</span></td>
      </tr>
	  <tr>
        <td>Soil Moisture</td>
        <td><span id="soil">20</span></td>
        </tr>     
    </tbody>
  </table>
</div>    
  </body>
</html>

